---
import SEO from '@/layouts/SEO.astro';
import { getLanguageFromURL } from '@/util';

import CodeSnippet from '../components/CodeSnippet.astro';
import Header from '../components/Header.astro';

const lang = getLanguageFromURL(Astro.url.pathname);
const knownLanguages = ['en', 'pt-BR'];
const formatAlternateHref = (hreflang: string) =>
  new URL(
    Astro.url.pathname.replace(/^\/(.*)\//g, `/${hreflang}/`),
    Astro.site,
  );
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content={lang} property="og:locale" />
    {
      knownLanguages.map((hreflang) => (
        <link
          rel="alternate"
          href={formatAlternateHref(hreflang)}
          hreflang={hreflang}
        />
      ))
    }
    <SEO lang={lang} {...Astro.props} />
  </head>
  <body class="enabled">
    <section class="page">
      <Header lang={lang} knownLanguages={knownLanguages} {...Astro.props} />
      <slot />
    </section>
    <CodeSnippet />
    <style is:global>
      .dark .enabled {
        color-scheme: dark;
      }

      html,
      body {
        @apply dark:bg-dark-darkest;
        @apply font-paragraph text-gray-800 dark:text-gray-100;
        @apply flex w-full h-full;
      }
      body.enabled {
        .page {
          @apply grid
          w-full
          h-full
          text-gray-600
          dark:text-gray-50;

          h1 {
            @apply text-2xl
            md:text-3xl
            lg:text-5xl
            font-bold
            tracking-wider;

            @apply text-transparent
            bg-clip-text
            bg-gradient-to-r
            from-dark-currentLine
            to-dark-comment
            dark:from-dark-cyan 
            dark:to-dark-green;
          }

          h2 {
            @apply text-lg
            lg:text-2xl;
          }

          h3 {
            @apply text-lg
            md:text-2xl
            font-bold;
          }

          strong {
            @apply text-black dark:text-dark-green;
          }

          article {
            a {
              @apply underline
              text-blue-400
              dark:text-dark-cyan;
            }
          }
        }
      }

      .enabled {
        &,
        & * {
          @apply scroll-smooth
          transition-colors
          duration-75;
        }
      }

      @media (orientation: landscape) {
        .enabled {
          &,
          & * {
            &::-webkit-scrollbar {
              @apply w-3;
            }
            &::-webkit-scrollbar-track {
              @apply bg-dark-foreground dark:bg-[color:#0005] rounded-full;
            }
            &::-webkit-scrollbar-thumb {
              @apply rounded-full bg-dark-comment dark:bg-dark-green;
            }
          }
        }
      }

      @media (prefers-reduced-motion: reduce) {
        .enabled {
          &,
          & * {
            animation-duration: 0ms !important;
            transition-duration: 0ms !important;
            scroll-behavior: initial;
          }
        }
      }
    </style>
  </body>
</html>
