---
import SEO from '@/layouts/SEO.astro';
import { getLanguageFromURL } from '@/util';

import CodeSnippet from '../components/CodeSnippet.astro';
import Header from '../components/Header.astro';

import GlobalStyle from './GlobalStyle.astro';

const lang = getLanguageFromURL(Astro.url.pathname);
const knownLanguages = ['en', 'pt-BR'];
const formatAlternateHref = (hreflang: string) =>
  new URL(
    Astro.url.pathname.replace(/^\/(.*)\//g, `/${hreflang}/`),
    Astro.site,
  );
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content={lang} property="og:locale" />
    {
      knownLanguages.map((hreflang) => (
        <link
          rel="alternate"
          href={formatAlternateHref(hreflang)}
          hreflang={hreflang}
        />
      ))
    }
    <SEO lang={lang} {...Astro.props} />
  </head>
  <body class="enabled">
    <section class="page">
      <Header lang={lang} knownLanguages={knownLanguages} {...Astro.props} />
      <slot />
    </section>
    <CodeSnippet />
    <GlobalStyle />
  </body>
</html>
