---
import { getImage } from '@astrojs/image';
import { Image } from '@astrojs/image/components';

const { title, description, url, lang } = Astro.props;

const { src: fallbackSrc } = await getImage({
  src: `/${lang}/og-image.png`,
  aspectRatio: '87:46',
  width: 435,
});
---

<a class="card outline-none" title={title} href={url}>
  <section>
    <figure>
      <Image
        class="preview"
        aspectRatio="87:46"
        width={435}
        format={'webp'}
        alt={title}
        src={`${url}/og-image.png`}
        onerror={`this.onerror=null;this.src='${fallbackSrc}'`}
      />
    </figure>
    <header class="header">
      <h4>{title}</h4>
      <p>{description}</p>
    </header>
  </section>
</a>

<style>
  .card {
    @apply p-4
    rounded
    shadow-2xl
    border
    border-gray-200
    dark:border-dark-currentLine
    dark:bg-dark-darkest;

    transition-property: box-shadow color;
    transition-duration: 500ms;

    @apply hover:shadow-md
    focus:shadow-md
    hover:text-dark-comment
    focus:text-dark-comment
    hover:border-dark-comment
    focus:border-dark-comment;

    .preview {
      @apply rounded;
    }

    .header {
      @apply flex flex-col gap-4 py-4;
    }

    p {
      @apply text-gray-400;
    }
  }
</style>
