---
import { Picture } from "astro:assets";
import Title from "@/components/Title.astro";
const {
  title,
  description,
  icon = "/src/assets/svg/me-ricknmorty-face.svg",
  date,
  href,
  tag,
  lang = "en",
} = Astro.props;
const images = import.meta.glob("@/assets/**/*.svg");
let iconSrc;

if (icon) {
  const { default: src } = await images[icon]();
  iconSrc = { ...src, width: 46, height: 46 };
}

export type Props = {
  title: string;
  description: string;
  icon: string;
  href: string;
  tag: string;
  date: Date;
  lang: string;
};
---

<a href={href} title={title}>
  <section>
    <header>
      <div transition:name={`post-icon-${icon}-${title}`} class="icon">
        {
          iconSrc && (
            <Picture src={iconSrc} alt={title} width={46} height={46} />
          )
        }
      </div>
      <div class="meta">
        <time class="truncate" datetime={date?.toISOString()}>
          {date?.toLocaleDateString(lang)}
        </time>
        <span class="tag">{tag}</span>
      </div>
    </header>
    <Title transition:name={title} isHighlighted>{title}</Title>
    <p>{description}</p>
  </section>
</a>

<style>
  a {
    &:is(:hover, :focus, :focus-within) {
      @apply outline-none;
      section {
        @apply glow-dracula-comment
        dark:glow-dracula-green;
      }
    }

    section {
      @apply flex
      flex-col
      items-start
      gap-4
      p-6
      h-full
      min-w-20
      rounded-lg
      bg-opacity-90
      dark:bg-opacity-90
      bg-white
      dark:bg-dracula-darkest
      border
      border-gray-300
      dark:border-dracula-currentLine;

      @apply transition-colors
      duration-100;

      header {
        @apply flex
        justify-between
        w-full;

        .meta {
          @apply flex
          flex-col
          justify-between
          items-end;

          .tag {
            @apply p-1
            px-3
            text-xs
            text-dracula-comment
            border-dracula-comment
            border
            rounded-full;

            :global(.dark) & {
              @apply text-dracula-cyan
            border-dracula-cyan;
            }
          }
        }
      }

      .icon {
        @apply flex
        justify-center
        items-center
        w-14
        h-14
        p-1
        rounded
        shadow-lg
        bg-white
        border
      border-gray-300;
        :global(picture),
        img {
          @apply w-full
          h-full;
        }
      }

      p {
        @apply text-xs;
      }
    }
  }
</style>
