---
import { Image } from '@astrojs/image/components';

const { title, description, slug, lang } = Astro.props;
---

<a class="card-link" title={title} href={`/${slug}`}>
  <figure class="card">
    <picture>
      <Image
        class="preview"
        aspectRatio="87:46"
        width={256}
        height={135.34}
        format={'webp'}
        alt={title}
        src={`/${slug}/og-image.png`}
        onerror={`this.onerror=null;this.src='/${lang}/og-image.png'`}
      />
    </picture>
    <figcaption>
      <strong>{title}</strong>
      <span>{description}</span>
    </figcaption>
  </figure>
</a>

<style>
  .card-link {
    @apply outline-none;

    &:is(:hover, :focus, :active) {
      .card {
        @apply shadow-md
        glow-dracula-comment
        border-dracula-comment
        bg-dracula-comment
        text-dracula-foreground
        dark:glow-dracula-green
        dark:border-dracula-green
        dark:bg-dracula-green
        dark:text-dracula-background;
      }
    }
  }

  .card {
    @apply grid
    grid-cols-auto-fit-[16rem]
    sm:grid-cols-[16rem,auto]
    max-w-lg
    rounded-lg
    shadow-2xl
    border
    border-gray-300
    bg-gray-200
    dark:border-dracula-currentLine
    dark:bg-dracula-background;

    transition-property: all;
    transition-duration: 500ms;

    figcaption {
      @apply flex
      flex-col
      gap-2
      p-4
      text-xs;
    }

    img {
      @apply flex
      rounded-md;
    }
  }
</style>
