---
import { Svg } from '@svjson/react';

import { github, linkedin, twitterLogo } from '@/assets/svg';

import ToggleLang from './ToggleLang.astro';

const { lang, knownLanguages } = Astro.props;
---

<script is:inline>
  function toggleDrawer() {
    const toggleDrawerBtn = document.getElementById('toggle-drawer');

    toggleDrawerBtn?.setAttribute(
      'aria-pressed',
      toggleDrawerBtn?.getAttribute('aria-pressed') === 'false'
        ? 'true'
        : 'false',
    );
  }
</script>

<button
  id="toggle-drawer"
  class="drawer-trigger"
  aria-pressed="false"
  onclick="toggleDrawer()"
>
  <i class="trigger-line"></i>
  <i class="trigger-line"></i>
  <i class="trigger-line"></i>
</button>
<div class="drawer">
  <nav class="drawer-menu">
    <div class="internal">
      <a class="action" href={`/${lang}`}>
        {lang === 'en' ? 'Home' : 'Início'}
      </a>
      <a class="action" href={`/${lang}/posts`}>
        {lang === 'en' ? 'Posts' : 'Postagens'}
      </a>
      <a class="action" href={`/${lang}/about`}>
        {lang === 'en' ? 'About' : 'Sobre'}
      </a>
    </div>
    <hr />
    <div class="external">
      <ToggleLang lang={lang} knownLanguages={knownLanguages} />
      <a class="action" target="_blank" href="https://github.com/viniciusflv/">
        <Svg alt="github" src={github} width="30px" height="30px" />
      </a>
      <a
        class="action"
        target="_blank"
        href="https://www.linkedin.com/in/viniciusflv/"
      >
        <Svg alt="linkedin" src={linkedin} width="30px" height="30px" />
      </a>
      <a
        class="action"
        target="_blank"
        href="https://twitter.com/viniciusflv1/"
      >
        <Svg
          alt="twitter"
          src={twitterLogo}
          isCurrentColor
          width="30px"
          height="30px"
        />
      </a>
    </div>
  </nav>
</div>

<style>
  .drawer {
    @apply lg:hidden
    isolate
    inset-0 
    scale-x-0
    fixed
    flex
    justify-end;

    .drawer-menu {
      @apply flex
      flex-col
      gap-8
      p-8
      pt-24
      scale-x-0
      inset-0
      origin-top-right
      transition-transform
      duration-300
      bg-white
      dark:bg-dark-darkest;

      .external {
        @apply flex gap-8;
      }

      .internal {
        @apply flex flex-col flex-grow gap-4 text-xl text-right;
      }
    }
  }

  .drawer-trigger {
    @apply relative
    lg:hidden
    flex
    flex-col
    justify-between
    w-8
    h-7
    z-50;

    @apply outline-none
    cursor-pointer
    active:text-inherit
    focus:text-dark-comment
    hover:text-dark-comment
    transition-colors
    delay-75
    ease-in-out;

    .trigger-line {
      @apply h-1
      w-full
      rounded
      bg-current
      transition-transform
      duration-300;
    }

    &[aria-pressed='true'] {
      @apply justify-center;

      .trigger-line {
        @apply absolute
        dark:bg-dark-green
        bg-dark-comment;

        &:nth-child(odd) {
          @apply rotate-45;
        }

        &:nth-child(even) {
          @apply -rotate-45;
        }
      }

      + .drawer {
        @apply z-40
        bg-black
        bg-opacity-50
        scale-x-100;

        .drawer-menu {
          @apply scale-x-100;
        }
      }
    }
  }
</style>
