---
import {
  github,
  home,
  linkedin,
  mastodon,
  person,
  twitterLogo,
  write,
} from '@/assets/svg';
import MenuItem from '@/components/MenuItem.astro';
import ToggleLang from '@/components/ToggleLang.astro';
import ToggleTheme from '@/components/ToggleTheme.astro';

const { lang } = Astro.props;

export type Props = {
  lang: string;
  knownLanguages: string[];
};
---

<script>
  const toggleMenu = document.getElementById('toggle-menu');

  toggleMenu?.addEventListener('click', () => {
    toggleMenu?.setAttribute(
      'aria-pressed',
      toggleMenu?.getAttribute('aria-pressed') === 'false' ? 'true' : 'false',
    );
  });
</script>

<header class="header">
  <nav class="header__nav">
    <button aria-pressed="false" id="toggle-menu" class="header__toggle__menu">
      <i class="trigger-line"></i>
      <i class="trigger-line"></i>
      <i class="trigger-line"></i>
    </button>
    <div class="header__nav__menu">
      <div class="sm:hidden"></div>
      <MenuItem
        label={lang === 'en' ? 'Home' : 'Início'}
        href={`/${lang}`}
        icon={home}
        isCurrentColor
      />
      <MenuItem
        label={lang === 'en' ? 'Posts' : 'Postagens'}
        href={`/${lang}/posts`}
        icon={write}
        isCurrentColor
      />
      <MenuItem
        label={lang === 'en' ? 'About' : 'Sobre'}
        href={`/${lang}/about`}
        icon={person}
        isCurrentColor
      />
      <hr class="divider" />
      <ToggleLang {...Astro.props} />
      <ToggleTheme {...Astro.props} />
      <hr class="divider" />
      <MenuItem
        label="Github"
        target="_blank"
        href="https://github.com/viniciusflv/"
        icon={github}
        isCurrentColor
      />
      <MenuItem
        label="Linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/viniciusflv/"
        icon={linkedin}
        isCurrentColor
      />
      <MenuItem
        label="Twitter"
        target="_blank"
        href="https://twitter.com/viniciusflv1/"
        icon={twitterLogo}
        isCurrentColor
      />
      <MenuItem
        label="Mastodon"
        target="_blank"
        href="https://mas.to/@viniciusflv/"
        icon={mastodon}
        isCurrentColor
      />
    </div>
  </nav>
</header>

<style is:global>
  .header {
    @apply flex
    justify-end
    sm:justify-center
    w-full
    z-20;

    .header__nav {
      @apply flex
      items-center
      flex-col
      sm:flex-row
      fixed
      z-10
      top-4
      p-4
      sm:px-8
      shadow-2xl
      rounded-lg
      text-gray-400
      border
      border-gray-300
      dark:border-dracula-currentLine
      bg-white
      dark:bg-dracula-background
      bg-opacity-90
      dark:bg-opacity-90;

      @keyframes popup {
        0% {
          @apply -top-full;
        }

        50% {
          @apply top-10;
        }
      }

      @screen sm {
        animation: popup 500ms 1;
      }

      .divider {
        @apply bg-current
          border
          w-full
          sm:h-6
          border-gray-300
          dark:bg-dracula-currentLine;
      }

      .header__toggle__menu {
        @apply relative
        flex
        flex-col
        justify-between
        sm:hidden
        font-bold
        rounded-full
        w-7
        h-6
        text-inherit;

        .trigger-line {
          @apply h-1
          w-full
          rounded
          bg-current
          transition-transform
          duration-300;
        }

        &[aria-pressed='false'] {
          & + .header__nav__menu {
            @apply scale-y-0
            h-0
            sm:scale-100
            sm:h-auto;
          }
        }

        &[aria-pressed='true'] {
          & + .header__nav__menu {
            @apply scale-100;
          }

          .trigger-line {
            @apply absolute
            top-3
            dark:bg-dracula-green
            bg-dracula-comment;

            &:nth-child(odd) {
              @apply rotate-45;
            }

            &:nth-child(even) {
              @apply -rotate-45;
            }
          }
        }
      }

      .header__nav__menu {
        @apply flex
        items-center
        flex-col
        sm:flex-row
        gap-6;

        @apply transition-transform duration-75 origin-top;
      }
    }
  }
</style>
