---
import { Svg } from '@svjson/react';

import { github, glasses, linkedin, twitterLogo } from '@/assets/svg';

import Drawer from './Drawer.astro';
import ToggleLang from './ToggleLang.astro';

const { lang } = Astro.props;
---

<header class="header">
  <nav class="nav">
    <a class="action" href={`/${lang}`}>
      <Svg alt="logo" src={glasses} width="75px" height="30px" />
    </a>
    <div class="internal">
      <a class="action" href={`/${lang}`}>
        {lang === 'en' ? 'Home' : 'Início'}
      </a>
      <a class="action" href={`/${lang}/posts`}>
        {lang === 'en' ? 'Posts' : 'Postagens'}
      </a>
      <a class="action" href={`/${lang}/about`}>
        {lang === 'en' ? 'About' : 'Sobre'}
      </a>
    </div>
    <div class="external">
      <ToggleLang {...Astro.props} />
      <a class="action" target="_blank" href="https://github.com/viniciusflv/">
        <Svg alt="github" src={github} width="30px" height="30px" />
      </a>
      <a
        class="action"
        target="_blank"
        href="https://www.linkedin.com/in/viniciusflv/"
      >
        <Svg alt="linkedin" src={linkedin} width="30px" height="30px" />
      </a>
      <a
        class="action"
        target="_blank"
        href="https://twitter.com/viniciusflv1/"
      >
        <Svg
          alt="twitter"
          src={twitterLogo}
          isCurrentColor
          width="30px"
          height="30px"
        />
      </a>
    </div>
    <Drawer {...Astro.props} />
  </nav>
</header>

<style>
  .header {
    @apply grid-area-[HEADER]
    flex
    h-[10vh]
    w-full
    bg-gray-200
    dark:bg-dark-background;

    .nav {
      @apply flex
      justify-between
      items-center
      gap-8
      container
      mx-auto
      px-8;

      .internal {
        @apply hidden lg:flex
        justify-center
        items-center
        grow
        gap-8;
      }

      .external {
        @apply hidden lg:flex
        gap-8;
      }

      .action {
        @apply tracking-widest;
        @apply outline-none
        cursor-pointer
        active:text-inherit
        focus:text-dark-comment
        hover:text-dark-comment
        transition-colors
        delay-75
        ease-in-out;
      }
    }
  }
</style>
