---
import { getLanguageFromURL } from '@/util';

const { title, description, summary, url, date } = Astro.props;
const lang = getLanguageFromURL(Astro.url.pathname);

const dateNew = new Date(date).setHours(24);
const dateFormatter = new Intl.DateTimeFormat(lang);
const created = dateFormatter.format(dateNew);
---

<section class="post-preview">
  <header>
    <p>{created}</p>
    <strong>{title}</strong>
    <p>{description}</p>
  </header>
  <main>
    <p class="summary">{summary}</p>
  </main>
  <footer>
    <a href={url} class="link" title={title}>
      {lang === 'pt-BR' ? 'Continue lendo' : 'Continue reading'}
    </a>
  </footer>
</section>

<style is:global>
  .post-preview {
    @apply flex flex-col gap-2 max-w-96;

    p {
      @apply !text-sm;
    }

    .summary {
      @apply !text-gray-400;
    }

    .link {
      @apply flex
      justify-start
      items-center
      gap-2
      underline
      text-blue-400
      dark:text-dracula-cyan;
    }
  }
</style>
