---
import { Svg } from '@svjson/react';

import {
  br,
  github,
  home,
  linkedin,
  mastodon,
  person,
  twitterLogo,
  write,
} from '@/assets/svg';

import MenuItem from './MenuItem.astro';

const { lang } = Astro.props;
console.log(lang);
---

<header class="header">
  <nav class="header__nav">
    <MenuItem label="Home" href="/" icon={home} isCurrentColor />
    <MenuItem label="Posts" href="/posts" icon={write} isCurrentColor />
    <MenuItem label="About" href="/about" icon={person} isCurrentColor />
    <div class="divider"></div>
    <MenuItem label="pt-BR" href="/" icon={br} />
    <div class="divider"></div>
    <MenuItem
      label="Github"
      target="_blank"
      href="https://github.com/viniciusflv/"
      icon={github}
      isCurrentColor
    />
    <MenuItem
      label="Linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/viniciusflv/"
      icon={linkedin}
      isCurrentColor
    />
    <MenuItem
      label="Twitter"
      target="_blank"
      href="https://twitter.com/viniciusflv1/"
      icon={twitterLogo}
      isCurrentColor
    />
    <MenuItem
      label="Mastodon"
      target="_blank"
      href="https://mas.to/@viniciusflv/"
      icon={mastodon}
      isCurrentColor
    />
  </nav>
</header>

<style is:global>
  .enabled {
    .header {
      @apply flex
      justify-center
      fixed
      bottom-4
      w-full;

      @keyframes popup {
        0% {
          @apply -bottom-full;
        }

        50% {
          @apply bottom-10;
        }
      }

      animation: popup 500ms 1;

      .header__nav {
        @apply flex
        items-center
        gap-6
        p-4
        px-8
        shadow-2xl
        rounded-lg
        text-gray-400
        border
        border-gray-300
        dark:border-dark-currentLine
        bg-white
        dark:bg-dark-background;

        .divider {
          @apply bg-current
          border
          h-full
          border-gray-300
          dark:bg-dark-currentLine;
        }
      }
    }
  }
</style>
