---
import {
  br,
  github,
  home,
  linkedin,
  mastodon,
  person,
  twitterLogo,
  write,
} from '@/assets/svg';

import MenuItem from './MenuItem.astro';
import ToggleLang from './ToggleLang.astro';
import ToggleTheme from './ToggleTheme.astro';

const { lang } = Astro.props;
console.log({ lang });
---

<header class="header">
  <nav class="header__nav">
    <MenuItem label="Home" href={`/${lang}`} icon={home} isCurrentColor />
    <MenuItem
      label="Posts"
      href={`/${lang}/posts`}
      icon={write}
      isCurrentColor
    />
    <MenuItem
      label="About"
      href={`/${lang}/about`}
      icon={person}
      isCurrentColor
    />
    <div class="divider"></div>
    <ToggleLang {...Astro.props} />
    <ToggleTheme />
    <div class="divider"></div>
    <MenuItem
      label="Github"
      target="_blank"
      href="https://github.com/viniciusflv/"
      icon={github}
      isCurrentColor
    />
    <MenuItem
      label="Linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/viniciusflv/"
      icon={linkedin}
      isCurrentColor
    />
    <MenuItem
      label="Twitter"
      target="_blank"
      href="https://twitter.com/viniciusflv1/"
      icon={twitterLogo}
      isCurrentColor
    />
    <MenuItem
      label="Mastodon"
      target="_blank"
      href="https://mas.to/@viniciusflv/"
      icon={mastodon}
      isCurrentColor
    />
  </nav>
</header>

<style is:global>
  .enabled {
    .header {
      @apply flex
      justify-end
      sm:justify-center
      fixed
      z-10
      top-4
      w-full;

      @keyframes popup {
        0% {
          @apply -top-full;
        }

        50% {
          @apply top-10;
        }
      }

      animation: popup 500ms 1;

      .header__nav {
        @apply flex
        items-center
        flex-col
        sm:flex-row
        gap-6
        z-50
        p-4
        sm:px-8
        shadow-2xl
        rounded-lg
        text-gray-400
        border
        border-gray-300
        dark:border-dark-currentLine
        bg-white
        dark:bg-dark-background;

        .divider {
          @apply bg-current
          border
          w-full
          sm:h-full
          border-gray-300
          dark:bg-dark-currentLine;
        }
      }
    }
  }
</style>
