---
import Container from "@/components/Container.astro";
import Page from "./Page.astro";
import Hero from "@/components/Hero.astro";
import { getLanguageFromURL } from "@/util";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";
import Link from "@/components/Link.astro";

const { categories } = Astro.props.frontmatter;

const lang = getLanguageFromURL(Astro.url.pathname);

const files = await getCollection("posts", ({ slug }) => {
  return slug.startsWith(lang.toLocaleLowerCase());
});

const posts = files
  .filter(({ data }) => (categories ? data.tag === categories : data.tag))
  .sort((a, b) => {
    const dateA = new Date(a?.data?.date || 0).setHours(24);
    const dateB = new Date(b?.data?.date || 0).setHours(24);

    return dateB - dateA;
  })
  .map((file) => {
    return {
      ...file,
      data: { ...file.data, icon: file.data.icon?.replace("@", "/src") },
    };
  });

const tags = files
  .filter(({ data }) => data.categories)
  .map((file) => {
    return {
      label: file.data.categories,
      value: `/${file.slug.replace("pt-br", "pt-BR")}`,
    };
  });

const subjects = tags.map(({ label }) => label).join(", ");

const props = {
  lang,
  ...Astro.props,
  ...Astro.props.frontmatter,
  description: `${Astro.props.frontmatter.description} ${subjects}.`,
};
---

<Page {...props}>
  <Breadcrumbs />
  <Hero {...props}>
    <div class="flex flex-wrap gap-4">
      {
        tags.map(({ label, value }) => (
          <Link title={label} href={value} isTag />
        ))
      }
    </div>
  </Hero>
  <Container>
    <div class="posts">
      {
        posts.map((post) => (
          <Card
            lang={lang}
            href={`/${post.slug.replace("pt-br", "pt-BR")}`}
            {...post.data}
          />
        ))
      }
    </div>
  </Container>
</Page>

<style>
  .posts {
    @apply grid
    sm:grid-cols-auto-fit-[18rem]
    gap-4;
  }
</style>
