---
import Layout from './Layout.astro';

import styles from './Blog.module.css';

import { List, ListItem } from '../components/List';

const headings =
  (Astro?.props?.headings as { depth: number; slug: string; text: string }[]) ??
  [];
---

<Layout {...Astro.props}>
  <main class={styles.main}>
    <slot />
    <aside class={styles.aside}>
      <nav>
        <List>
          {
            headings.map(({ depth, slug, text }) => (
              <ListItem key={slug} depth={depth}>
                <a href={`#${slug}`}>{text}</a>
              </ListItem>
            ))
          }
        </List>
      </nav>
    </aside>
  </main>
</Layout>
