---
import Layout from './Layout.astro';

import styles from './Blog.module.css';

import { Card } from '../components/Card';
import { getLanguageFromURL } from '../util';

const posts = await Astro.glob('../pages/**/posts/**/*.mdx');
const lang = getLanguageFromURL(Astro.url.pathname);
---

<Layout {...Astro.props}>
  <main class={styles.main}>
    <article class={styles.article}>
      <slot />
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          posts
            .filter(({ url }) => (url ?? '').startsWith(`/${lang}`))
            .map(({ frontmatter, url }) => (
              <Card lang={lang} url={url} {...frontmatter} />
            ))
        }
      </div>
    </article>
  </main>
</Layout>
