---
import Header from '../components/Header.astro';

import ogScraper from 'open-graph-scraper';
import path from 'path';

import { getLanguageFromURL } from '../util';

const { frontmatter } = Astro.props;
const title = frontmatter?.title || 'Title';
const classes = frontmatter?.classes || '';
const lang = getLanguageFromURL(Astro.url.pathname);
const knownLanguages = ['en', 'pt-br'];

// const { result } = await ogScraper({
//   url: 'https://github.com/viniciusflv/',
// });
// console.log(result);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta content={title} property="og:title" />
    <!-- <meta content={'meta?.description'} name="description" />
    <meta content={'meta?.description'} itemprop="description" />
    <meta content={'meta?.description'} property="og:description" />
    <meta content={'meta?.keywords'} name="keywords" />
    <meta content={'meta?.author'} name="author" />
    <meta content={'meta?.siteName'} itemprop="name" />
    <meta content={'meta?.siteName'} property="og:site_name" /> -->
    <!-- <meta content={result?.ogUrl} property="og:url" />
    <meta content={result?.ogImage?.url} itemprop="image" /> -->
    <!-- <meta content={meta?.siteUrl + meta?.image.path} property="og:image" />
    <meta content={meta?.image.type} property="og:image:type" />
    <meta content={meta?.image.size} property="og:image:width" />
    <meta content={meta?.image.size} property="og:image:height" /> -->
    <!-- <meta content={result?.ogLocale} property="og:locale" /> -->
    <!-- <meta content="website" property="og:type" /> -->
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body class="body">
    <section class:list={['section', classes]}>
      <Header lang={lang} knownLanguages={knownLanguages} />
      <slot />
    </section>
    <style is:global>
      * {
        /* outline: 0.01px solid red; */
        @media (prefers-reduce-motion: reduce) {
          animation-duration: 0ms !important;
        }
      }

      .body {
        @apply font-paragraph text-gray-800 dark:text-gray-100;

        @apply flex w-full
        min-h-screen
        bg-white
        dark:bg-dark-darkest;

        .section {
          @apply flex
          flex-col
          w-full;

          h1 {
            @apply text-3xl
            lg:text-5xl;
          }

          h2 {
            @apply lg:text-2xl opacity-80;
          }

          h3 {
            @apply lg:text-2xl;
          }

          .shiki.dracula {
            @apply rounded
            shadow-2xl
            border
            border-gray-200
            dark:border-dark-currentLine;

            .language-id {
              @apply p-2
              px-8
              rounded-t
              bg-opacity-50
              text-dark-green;

              @apply border-b
              border-dark-green;
            }

            .code-container {
              @apply p-8 rounded-b;
            }

            @media (prefers-color-scheme: light) {
              @apply !bg-white;

              & .language-id,
              .code-container {
                @apply invert;
              }
            }
          }
        }
      }
    </style>
  </body>
</html>
