---
import Header from '../components/Header.astro';

// import ogScraper from 'open-graph-scraper';
import { getLanguageFromURL } from '../util';

const lang = getLanguageFromURL(Astro.url.pathname);
const knownLanguages = ['en', 'pt-BR'];

const { frontmatter } = Astro.props;

const props = {
  ...Astro.props,
  ...frontmatter,
};

const meta = {
  author: 'Vinícius Victorino',
  twitter: '@viniciusflv1',
  title: [props?.title, 'Vinícius Victorino'].join(' | '),
  description: props?.description || 'My personal website',
  siteName: 'Vinícius Victorino',
  canonical: 'https://',
  keywords:
    props?.keywords ||
    [
      'programming',
      'front-end',
      'javascript',
      'typescript',
      'react',
      'technologies',
    ].join(','),
};

// const a = await Promise.all([
//   ogScraper({
//     url: 'https://github.com/viniciusflv/',
//   }),
//   ogScraper({
//     url: 'https://www.linkedin.com/in/viniciusflv/',
//   }),
// ]);

// ogScraper({
//   url: 'https://twitter.com/viniciusflv1/',
// })
//   .then(({ result }) => console.log(result))
//   .catch(console.error);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content={lang} property="og:locale" />
    <meta content={meta?.siteName} property="og:site_name" />
    <meta content={meta.keywords} name="keywords" />
    <!-- title -->
    <title>{meta.title}</title>
    <meta content={meta.title} property="og:title" />
    <meta content={meta.title} name="twitter:title" />
    <!-- description -->
    <meta content={meta.description} name="description" />
    <meta content={meta.description} property="og:description" />
    <meta content={meta.description} name="twitter:description" />
    <!-- author -->
    <meta content={meta.author} name="author" />
    <meta content={meta.author} name="twitter:alt" />
    <meta content={meta.twitter} name="twitter:creator" />
    <meta content={meta.twitter} name="twitter:site" />
    <!-- image -->
    <!-- <link rel="icon" type="image/png" href="/favicon.png" />
    <meta content="" property="og:image:alt" />
    <meta content={''} property="og:image" />
    <meta content={''} property="og:image:type" />
    <meta content={'1280'} property="og:image:width" />
    <meta content={'675'} property="og:image:height" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="" name="twitter:image" /> -->
    <!-- site -->
    <meta content="website" property="og:type" />
    <!-- <meta content={meta.canonical} property="og:url" />
    <link href={meta.canonical} rel="canonical" /> -->
  </head>

  <body class="body">
    <section class:list={['section']}>
      <Header lang={lang} knownLanguages={knownLanguages} />
      <slot />
    </section>
    <style is:global>
      * {
        /* outline: 0.01px solid red; */
        @media (prefers-reduce-motion: reduce) {
          animation-duration: 0ms !important;
        }
      }

      .body {
        @apply font-paragraph text-gray-800 dark:text-gray-100;

        @apply flex w-full
        min-h-screen
        bg-white
        dark:bg-dark-darkest;

        .section {
          @apply flex
          flex-col
          w-full;

          h1 {
            @apply text-3xl
            lg:text-5xl;
          }

          h2 {
            @apply lg:text-2xl opacity-80;
          }

          h3 {
            @apply lg:text-2xl;
          }

          .shiki.dracula {
            @apply rounded
            shadow-2xl
            border
            border-gray-200
            dark:border-dark-currentLine;

            .language-id {
              @apply p-2
              px-8
              rounded-t
              bg-opacity-50
              text-dark-green;

              @apply border-b
              border-dark-green;
            }

            .code-container {
              @apply p-8 rounded-b;
            }

            @media (prefers-color-scheme: light) {
              @apply !bg-white;

              & .language-id,
              .code-container {
                @apply invert;
              }
            }
          }
        }
      }
    </style>
  </body>
</html>
