---
import type { MDXInstance } from 'astro';
import { existsSync } from 'fs';
import { resolve } from 'path';

const { lang, knownLanguages, frontmatter } = Astro.props;

const fallbackOgImage = new URL(`${lang}/og-image.png`, Astro.site);
const scopedOgImage = new URL(`${Astro.url.pathname}og-image.png`, Astro.site);
const localPath = resolve('public') + scopedOgImage.pathname;
const existsOgImage = existsSync(localPath);

const props = {
  ...Astro.props,
  ...frontmatter,
};

const title = [props?.title, 'Vinícius Victorino'].join(' | ');

const meta = {
  type: 'website',
  description: 'My personal website',
  keywords:
    props?.keywords ||
    [
      'programming',
      'front-end',
      'javascript',
      'typescript',
      'react',
      'technologies',
    ].join(','),
  ...props,
  title,
  author: 'Vinícius Fabris Leite Victorino',
  twitter: '@viniciusflv1',
  siteName: 'Vinícius Victorino',
  canonical: Astro.url.href,
  themeColor: {
    dark: '#282a36',
    light: 'rgb(229 231 235)',
  },
  image: {
    width: '1280',
    height: '675',
    type: 'image/png',
    alt: title,
    src: existsOgImage ? scopedOgImage : fallbackOgImage,
  },
};

function formatAlternateHref(hreflang: string) {
  return new URL(
    Astro.url.pathname.replace(/^\/(.*)\//g, `/${hreflang}/`),
    Astro.site,
  );
}

type Meta = {
  title: string;
  description: string;
  keywords?: string;
  type?: string;
};

export type Props = Partial<MDXInstance<Meta>> & {
  lang: string;
  knownLanguages: string[];
};
---

<!-- site -->
<meta charset="UTF-8" />
<meta
  content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover"
  name="viewport"
/>
<meta name="generator" content={Astro.generator} />
<link href={meta.canonical} rel="canonical" />
<meta content={meta.canonical} property="og:url" />
<meta content={meta.siteName} property="og:site_name" />
<meta
  content={meta.themeColor.dark}
  name="theme-color"
  media="(prefers-color-scheme: dark)"
/>
<meta
  content={meta.themeColor.light}
  name="theme-color"
  media="(prefers-color-scheme: light)"
/>
<meta content={meta.keywords} name="keywords" />
<meta content={meta.type} property="og:type" />

<!-- locale -->
<meta content={lang} property="og:locale" />
{
  knownLanguages?.map((hreflang) => (
    <link
      rel="alternate"
      href={formatAlternateHref(hreflang)}
      hreflang={hreflang}
    />
  ))
}
<!-- title -->
<title>{meta.title}</title>
<meta content={meta.title} property="og:title" />
<meta content={meta.title} name="twitter:title" />
<!-- description -->
<meta content={meta.description} name="description" />
<meta content={meta.description} property="og:description" />
<meta content={meta.description} name="twitter:description" />
<!-- author -->
<meta content={meta.author} name="author" />
<meta content={meta.author} name="twitter:alt" />
<meta content={meta.twitter} name="twitter:creator" />
<meta content={meta.twitter} name="twitter:site" />
<!-- image -->
<link rel="icon" type="image/png" href="/favicon.png" />
<meta content={meta.image.alt} property="og:image:alt" />
<meta content={meta.image.src} property="og:image" />
<meta content={meta.image.type} property="og:image:type" />
<meta content={meta.image.width} property="og:image:width" />
<meta content={meta.image.height} property="og:image:height" />
<meta content={meta.image.src} name="twitter:image" />
<meta content={meta.image.alt} name="twitter:image:alt" />
<meta content="summary_large_image" name="twitter:card" />
