---
import Layout from './Layout.astro';

import fs from 'fs';

import styles from './Post.module.css';

import { List, ListItem } from '../components/List';
import { getLanguageFromURL } from '../util';

const headings =
  (Astro?.props?.headings as { depth: number; slug: string; text: string }[]) ??
  [];
const lang = getLanguageFromURL(Astro.url.pathname);
const stats = fs.statSync(Astro?.props?.content.file);
const dateFormatter = new Intl.DateTimeFormat(lang);
const modified = dateFormatter.format(stats.mtime);
---

<Layout {...Astro.props}>
  <main class={styles.main}>
    <article class={styles.article}>
      <header>{modified}</header>
      <slot />
    </article>
    {
      headings.length ? (
        <aside class={styles.aside}>
          <nav>
            <List>
              {headings.map(({ depth, slug, text }) => (
                <ListItem key={slug} depth={depth}>
                  <a href={`#${slug}`}>{text}</a>
                </ListItem>
              ))}
            </List>
          </nav>
        </aside>
      ) : null
    }
  </main>
</Layout>
