---
import Layout from './Layout.astro';

import fs from 'fs';

import { List, ListItem } from '../components/List';
import { getLanguageFromURL } from '../util';

const headings =
  (Astro?.props?.headings as { depth: number; slug: string; text: string }[]) ??
  [];
const lang = getLanguageFromURL(Astro.url.pathname);
const stats = fs.statSync(Astro?.props?.content.file);
const dateFormatter = new Intl.DateTimeFormat(lang);
const modified = dateFormatter.format(stats.mtime);
---

<Layout {...Astro.props}>
  <main class="main">
    <article class="article">
      <header>
        <p class="text-dark-comment">{modified}</p>
        <strong>Vinícius Victorino</strong>
      </header>
      <slot />
    </article>
    {
      headings.length ? (
        <aside class="aside">
          <nav class="nav">
            <List>
              {headings.map(({ depth, slug, text }) => (
                <ListItem key={slug} depth={depth}>
                  <a title={text} class="action" href={`#${slug}`}>
                    {text}
                  </a>
                </ListItem>
              ))}
            </List>
          </nav>
        </aside>
      ) : null
    }
  </main>
</Layout>

<style>
  .main {
    @apply flex
    gap-8
    container
    mx-auto
    p-8
    py-16;
  }

  .article {
    @apply flex
    flex-col
    grow
    gap-8;
  }

  .aside {
    @apply hidden md:block max-w-72;

    .nav {
      @apply px-8
      border-l-2
      border-gray-400
      dark:border-dark-currentLine;

      .action {
        @apply outline-none cursor-pointer
        active:text-inherit
        focus:text-dark-comment
        hover:text-dark-comment
        transition-colors
        delay-75
        ease-in-out;
      }
    }
  }
</style>
